/* carousel */

.carousel-item {
    img {
        height: 100vh;
        object-fit: cover;
    }
}


.slogan {
    
    text-shadow: $shadow;

    h1 {
        position: absolute;
        z-index: 1;
        bottom: 80px;
        right: 80px;
        font-family: $title-font;
        font-size: 2em;
        margin: 0;

        span {
            color: $pink;
        }

        @include responsive() {
            font-size: 3em;
            bottom: 100px;
            right: 180px;
        }

        @include responsive(1024px) {
            font-size: 4em;
            bottom: 120px;
            right: 200px;
        }
    }

    p {
        position: absolute;
        z-index: 1;
        bottom: 60px;
        right: 100px;
        font-weight: 400;
        margin: 0;

        @include responsive() {
            font-size: 1.5em;
            bottom: 80px;
            right: 200px;

        }

        @include responsive(1024px) {
            font-size: 2em;
            bottom: 100px;
            right: 230px;
        }

    }
}



/* NAVBAR efecto JS */

.navbar-index {
    @include flex(row, nowrap, space-between, center);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    z-index: 1;
 
    ul {
        display: flex;
        margin: 0;
    }

    @include responsive(){
        padding: 10px 100px;
    
    }

    .logo {
        font-family: $title-font;
        font-size: 1.5em;   
        transition: all 0.5s;

        &:hover {
            color: $pink;
        }

        @include responsive(){
            font-size: 2.5em;
        }
    }

    iconify-icon {
        transition: all 0.5s;
        padding: 10px;
        font-size: 1.5em;
        &:hover {
            color: $pink;
        }
        @include responsive(){
            font-size: 2em;
            padding: 15px;
        }
    }
}

.navbar-index.with-color {
    background-color: $black;
}


/* new collection */

.new {
    font-family: $title-font;
    font-size: 1.5em;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &:hover {
        color: $pink;
    }
}




/* cards productos */

.container-cards {
    display: flex;
    flex-direction: column;

    @include responsive() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 65px;
    }

    @include responsive(1024px) {
        grid-template-columns: repeat(3, 1fr);
        margin: 30px 250px;
    }

    .card {
        background-color: $black;
        text-align: center;
        padding: 10px;
        margin: 20px;
        border-color: $green;
        border-radius: 0;

        p,
        h5 {
            color: $white;
            margin: 20px;
        }

        img {
            height: 350px;
        }

        .price {
            font-family: $title-font;
            font-size: 2em;
        }

        .btn {
            @include botonVerde();
        }
        
    }
}



/* filtro productos */

.filtro-productos {
    margin-top: 100px;
    text-align: center;

    h2 {
        margin-top: 60%;
    }
    h3 {
        margin-bottom: 60%;
    }       

    @include responsive(){
        h2 {
            margin-top: 20%
        }
        h3 {
            margin-bottom: 20%;
            font-size: 3em;
        }
    }

    .container-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 100px 10px 10px;


        @include responsive() {
            flex-direction: row;
            gap: 30px
        }

        label {
            cursor: pointer;
            padding: 5px;
            color: $black;
            background-color: $green;
            text-align: center;
            transition: all 0.5s;

            &:hover {
                color: $white;
                background-color: $pink;
            }

            @include responsive() {
                width: 250px;
                padding: 10px 20px;
                font-size: 1em;
            }

            @include responsive(1024px) {
                width: 300px;
                padding: 10px 20px;
                font-size: 1.2em;
            }
        }

    }




}


/* filtro */

#clothing,
#complements,
#todos {
    display: none;
}

.clothing,

.complements {
    display: none;
}

#clothing:checked~.container-cards .clothing,
#complements:checked~.container-cards .complements {
    display: flex;
}

#todos:checked~.container-cards .clothing,
#todos:checked~.container-cards .complements {
    display: flex;
}