/* paleta de colores */

$green: #A0FF0D;
$pink: #FF009D;
$white: #FFF;
$black: #0B0B0B;
$grey: #5E5D6B;


/* fuentes */

$title-font: 'Fugaz One', cursive;
$text-font: 'Gemunu Libre', sans-serif;



/* sombra */

$shadow: 8px 8px 10px rgba(0, 0, 0, 1);

// agregar variable de font size


/* MIXIN */

@mixin responsive($medida : 768px) {
    @media screen and (min-width: $medida) {
        @content;
    }
}

@mixin flex($direction, $cut, $justify, $align) {
    display: flex;
    flex-flow: $direction $cut;
    justify-content: $justify;
    align-items: $align;
}

@mixin botonVerde() {
    background-color: $green;
    color: $black;
    font-family: $title-font;
    width: 100%;
    padding: 10px;
    box-shadow: $shadow;
    border-radius: 0;
    transition: all 0.5s;
    &:hover {
        background-color: $pink;
        color: $white;
    }
}


@mixin botonRosa() {
    background-color: $pink;
    color: $white;
    font-family: $title-font;
    width: 100%;
    padding: 10px;
    box-shadow: $shadow;
    border-radius: 0;
    transition: all 0.5s;
    &:hover {
        background-color: $green;
        color: $black;
    }
}